{% set supportHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-what-to-do-if-youre-employed-and-cannot-work">On furlough – what happens if your employer has no work for you</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-what-to-do-if-youre-employed-and-cannot-work">Unable to work – what to do if you or someone you live with is ill</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-what-to-do-if-you-were-employed-and-have-lost-your-job">Unemployed or redundant – what to do if you’ve lost your job</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-what-to-do-if-youre-self-employed-and-getting-less-work-or-no-work">Self-employed – what to do if you’re getting less or no work</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/discrimination-your-rights/discrimination-at-work">Discrimination at work - your rights</a>
    </li>
  </ul>
</div>
{% endset %}

{% set redundancyHTML %}
<div class="covid__accordion-inner">
  <h3 class="govuk-heading-s covid__accordion-heading">Redundancy</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/redundancy-your-rights">Your rights if you're made redundant</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/calculate-your-redundancy-pay">Work out your redundancy pay</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-what-to-do-if-you-were-employed-and-have-lost-your-job">Financial support if you're made redundant</a>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Finding work</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/find-a-job">Find and apply for jobs</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/moving-from-benefits-to-work">Get help moving from benefits to work</a>
    </li>
  </ul>
</div>
{% endset %}

{% set safelyHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://govuk-employee-returning.herokuapp.com/">Check if you should go back into work</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/working-safely-during-coronavirus-covid-19">How social distancing could work in your workplace</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/further-businesses-and-premises-to-close/further-businesses-and-premises-to-close-guidance">Which workplaces should be open</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.citizensadvice.org.uk/work/coronavirus-if-youre-worried-about-working/">Advice if you’re worried about working</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19">Protecting extremely vulnerable people at home</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-safer-travel-guidance-for-passengers">Travel to work safely</a>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">If you get symptoms</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/covid-19-stay-at-home-guidance/stay-at-home-guidance-for-households-with-possible-coronavirus-covid-19-infection">What to do if you get symptoms</a>
    </li>
  </ul>
</div>
{% endset %}

{% set homeHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/reasonable-adjustments-for-disabled-workers">Reasonable adjustments for working from home</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/tax-relief-for-employees/working-at-home">Claim tax back on equipment</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/holiday-entitlement-rights">How annual leave is worked out</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/access-to-work-factsheet/access-to-work-factsheet-for-customers#claiming-access-to-work-during-the-coronavirus-covid-19-outbreak">Claim Access to Work if you have a disability or long-term health condition</a>
    </li>
  </ul>
</div>
{% endset %}

{% set childcareHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/coronavirus/education-and-childcare">Childcare and education</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/get-childcare">Get help paying for childcare</a>
    </li>
  </ul>
</div>
{% endset %}

{% set holidayHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/holiday-entitlement-rights">How annual leave is worked out</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-what-to-do-if-youre-employed-and-cannot-work#if-someone-you-live-with-has-symptoms-of-coronavirus">Get financial support whilst you're off sick</a>
    </li>
  </ul>
</div>
{% endset %}

{{ govukAccordion({
  id: "worker-support-guidance",
  items: [
    {
      heading: {
        text: "Getting financial support"
      },
      content: {
        html: supportHTML
      }
    },
    {
      heading: {
        text: "Help with redundancy and finding work"
      },
      content: {
        html: redundancyHTML
      }
    },
    {
      heading: {
        text: "Working safely"
      },
      content: {
        html: safelyHTML
      }
    },
    {
      heading: {
        text: "Working from home"
      },
      content: {
        html: homeHTML
      }
    },
    {
      heading: {
        text: "Childcare"
      },
      content: {
        html: childcareHTML
      }
    },
    {
      heading: {
        text: "Holiday and sick leave"
      },
      content: {
        html: holidayHTML
      }
    }
  ]
}) }}