.app-c-heading {
  margin: 0;
}

.app-c-heading--font-size-27 {
  @include govuk-text-colour;
  @include govuk-font(27, $weight: bold);
}

// special case for publications and consultations pages
// separated to allow normalisation of the component for wider use
.app-c-heading--mobile-top-margin {
  margin-top: govuk-spacing(6);
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    margin-top: 0;
    margin-bottom: govuk-spacing(6);
  }
}

.app-c-heading--padding {
  padding: govuk-spacing(3) 0;
}

// border color will default to black
// can be changed using the branding functionality
.app-c-heading--border-top-1 {
  border-top-style: solid;
  border-top-width: 1px;
}

.app-c-heading--border-top-2 {
  border-top-style: solid;
  border-top-width: 2px;
}

.app-c-heading--border-top-5 {
  border-top-style: solid;
  border-top-width: 5px;
}

.app-c-heading--inverse {
  color: govuk-colour("white");
}