{% set supportHTML %}
<div class="covid__accordion-inner">
  <h3 class="govuk-heading-s covid__accordion-heading">For parents</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/supporting-your-childrens-education-during-coronavirus-covid-19">Guidance for parents and carers helping children learn from home</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-online-education-resources">Find resources to support home learning</a>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">For teachers and leaders</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/remote-education-during-coronavirus-covid-19">Guidance for teaching children online</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/remote-education-practice-for-schools-during-coronavirus-covid-19">Shared practice for schools teaching remotely</a>
    </li>
  </ul>
</div>
{% endset %}

{% set wellbeingHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-implementing-protective-measures-in-education-and-childcare-settings/coronavirus-covid-19-implementing-protective-measures-in-education-and-childcare-settings">Protective measures: keep children and staff safe when schools reopen</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/covid-19-free-school-meals-guidance">Free school meals</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/covid-19-guidance-on-supporting-children-and-young-peoples-mental-health-and-wellbeing">Supporting children and young people’s mental health and wellbeing</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-guidance-on-vulnerable-children-and-young-people">Supporting vulnerable children</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-send-risk-assessment-guidance">SEND risk assessment</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/safeguarding-and-remote-education-during-coronavirus-covid-19">Safeguarding and remote education</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-keeping-children-safe-online/coronavirus-covid-19-support-for-parents-and-carers-to-keep-children-safe-online">Keep children safe online</a>
    </li>
  </ul>
</div>
{% endset %}

{% set reopeningHTML %}
<div class="covid__accordion-inner">
  <h3 class="govuk-heading-s covid__accordion-heading">Exams and assessments</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-cancellation-of-gcses-as-and-a-levels-in-2020">Exam cancellations, results and appeals</a>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Managing a school or early years setting</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-educational-provision">Schools opening for children of critical (key) workers and vulnerable children</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-early-years-and-childcare-closures">Running an early years setting during coronavirus</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak">Running a school during coronavirus</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-further-education-provision">Running a further education setting during coronavirus</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/guidance-for-full-opening-special-schools-and-other-specialist-settings">Supporting children and young people with SEND in schools and colleges</a>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Childcare, holiday clubs, and after school care</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/guidance-for-parents-and-carers-of-children-attending-out-of-school-settings-during-the-coronavirus-covid-19-outbreak">How childminders, holiday clubs and after school clubs can operate during coronavirus</a>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Working safely</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/safe-working-in-education-childcare-and-childrens-social-care">Safe working in education, childcare and children’s social care</a>
    </li>
  </ul>
</div>
{% endset %}

{% set fundingHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/get-help-with-technology-for-remote-education-during-coronavirus-covid-19">Get technology support for children and schools</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-financial-support-for-education-early-years-and-childrens-social-care">Financial support for education, early years and children’s social care</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-financial-support-for-schools">Exceptional costs funding for schools</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/check-if-you-can-get-tax-free-childcare-and-30-hours-free-childcare-during-coronavirus-covid-19">Check if you can get Tax-Free Childcare and 30 hours free childcare during coronavirus (COVID-19)</a>
    </li>
  </ul>
</div>
{% endset %}

{% set studentHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/guidance-for-current-students">Student loans: current students</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/guidance-for-prospective-students">Student loans: prospective students</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://dfemedia.blog.gov.uk/2020/04/09/university-students-covid19-faq/">Universities: teaching, exams, accommodation, fees, loans, visas</a>
    </li>
  </ul>
</div>
{% endset %}

{% set educationHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.ucas.com/providers/coronavirus-update">University admissions</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-apprenticeship-programme-response">Apprentices, employers and training providers</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-further-education-provision">College closures</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://theskillstoolkit.campaign.gov.uk/">Improve your digital and numeracy skills with free online courses</a>
    </li>
  </ul>
</div>
{% endset %}

{{ govukAccordion({
  id: "education-and-childcare-guidance",
  items: [
    {
      heading: {
        text: "Support learning during coronavirus"
      },
      content: {
        html: supportHTML
      }
    },
    {
      heading: {
        text: "Pupil wellbeing and safety"
      },
      content: {
        html: wellbeingHTML
      }
    },
    {
      heading: {
        text: "School reopenings, exams and managing a schoolor early years setting"
      },
      content: {
        html: reopeningHTML
      }
    },
    {
      heading: {
        text: "Funding and support for education and childcare"
      },
      content: {
        html: fundingHTML
      }
    },
    {
      heading: {
        text: "Student accommodation, travel and financial support"
      },
      content: {
        html: studentHTML
      }
    },
    {
      heading: {
        text: "Further and higher education and vocational training"
      },
      content: {
        html: educationHTML
      }
    }
  ]
}) }}