<header class="covid__page-header covid__page-header--business">
  <div class="govuk-width-container">
    <div class="app-c-breadcrumbs govuk-breadcrumbs app-c-breadcrumbs--collapse-on-mobile app-c-breadcrumbs--inverse" data-module="track-click">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item" aria-current="false">
          <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
        </li>
      </ol>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="app-c-title app-c-title--inverse govuk-!-margin-top-4 govuk-!-margin-bottom-0">
          <span class="govuk-caption-xl app-c-title__context">
            Part of <a href="/coronavirus" class="govuk-link covid__page-header-link">Coronavirus (COVID-19)</a>
          </span>
          <h1 class="app-c-title__text ">
            Education and childcare
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="covid__page-header-light covid__page-header-light--hub">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="app-c-heading govuk-heading-s app-c-heading--inverse govuk-!-margin-bottom-3">Guidance for teachers, school leaders, carers, parents and students</h2>
          <p class="govuk-body covid__inverse">
            In England:
          </p>
          <ul class="covid__list covid__list--header">
            <li class="covid__list-item">children in nursery, reception, year 1 and year 6 can return to school</li>
            <li class="covid__list-item">schools remain closed for other year groups, except for children of key workers and vulnerable children</li>
            <li class="covid__list-item">childminders can return to work</li>
            <li class="covid__list-item">schools will reopen to all age groups from September</li>
          </ul>
          <p class="govuk-body covid__inverse">
            Find out when schools are expected to reopen in
            <a class="covid__page-header-link govuk-link" href="https://www.gov.scot/news/schools-to-re-open-in-august/">Scotland</a>, <a class="covid__page-header-link govuk-link" href="https://gov.wales/how-schools-will-work-during-coronavirus-pandemic#section-38402">Wales</a> and <a class="covid__page-header-link govuk-link" href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-advice-schools-colleges-and-universities">Northern Ireland</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="covid__page-guidance">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h2 class="app-c-heading govuk-heading-s govuk-!-margin-bottom-5">What you can do now</h2>
          <ul class="covid__list govuk-!-margin-bottom-8 govuk-!-padding-left-0">
            <li class="covid__list-item">
              <div class="govuk-pub-action-link govuk-pub-action-link--dark-icon govuk-!-margin-bottom-0">
                <span class="govuk-pub-action-link__link-wrapper">
                  <a class="govuk-link govuk-pub-action-link__link" href="/government/publications/coronavirus-covid-19-implementing-protective-measures-in-education-and-childcare-settings/coronavirus-covid-19-implementing-protective-measures-in-education-and-childcare-settings">
                    Protective measures: keep children and staff safe when schools reopen
                  </a>
                </span>
              </div>
            </li>
            <li class="covid__list-item">
              <div class="govuk-pub-action-link govuk-pub-action-link--dark-icon govuk-!-margin-bottom-0">
                <span class="govuk-pub-action-link__link-wrapper">
                  <a class="govuk-link govuk-pub-action-link__link" href="/government/publications/safe-working-in-education-childcare-and-childrens-social-care">
                    Safe working in education, childcare and children’s social care
                  </a>
                </span>
              </div>
            </li>
            <li class="covid__list-item">
              <div class="govuk-pub-action-link govuk-pub-action-link--dark-icon govuk-!-margin-bottom-0">
                <span class="govuk-pub-action-link__link-wrapper">
                  <a class="govuk-link govuk-pub-action-link__link" href="/government/publications/guidance-for-parents-and-carers-of-children-attending-out-of-school-settings-during-the-coronavirus-covid-19-outbreak/guidance-for-parents-and-carers-of-children-attending-out-of-school-settings-during-the-coronavirus-covid-19-outbreak">
                    Check how childminders, holiday clubs and after school clubs can operate
                  </a>
                </span>
              </div>
            </li>
          </ul>
          {{ appSignupLink({
            herading: {
              text: "Stay up to date with GOV.UK"
            },
            text: "Sign up to get emails when we add new coronavirus education and childcare information",
            href: "https://www.gov.uk/email-signup?topic=/coronavirus-taxon/education-and-childcare"
          }) }}
        </div>
      </div>
    </div>
  </div>
</header>