{% set supportHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/collections/financial-support-for-businesses-during-coronavirus-covid-19">Find financial support for your business</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-support-from-business-representative-organisations-and-trade-associations">Find out what support your business representative organisation (BRO) offers</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-support-for-business-from-outside-government">Coronavirus support for business from outside government</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/additional-government-resources-to-support-your-business-during-coronavirus-disruptions">Additional government resources to support your business during coronavirus disruptions</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://businesssupport.blog.gov.uk/">Find out how other businesses have used government support and are reopening safely</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-guidance-for-uk-businesses/coronavirus-covid-19-guidance-for-uk-businesses-trading-internationally">Support for UK businesses trading internationally</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/rules-that-have-been-relaxed-to-help-businesses-during-the-coronavirus-pandemic">Rules that have been relaxed to help businesses during the coronavirus pandemic</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/register-your-establishment-for-the-eat-out-to-help-out-scheme">Register your business for the Eat Out to Help Out scheme</a>
    </li>
  </ul>
</div>
{% endset %}

{% set peopleHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/claim-a-grant-through-the-coronavirus-covid-19-self-employment-income-support-scheme">Claim a grant through the Self-employment Income Support Scheme</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/self-employment-and-universal-credit">Self-employment and Universal Credit</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/difficulties-paying-hmrc">If you cannot pay your tax bill on time</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.fca.org.uk/consumers/mortgages-coronavirus-consumers">Negotiate a mortgage payment holiday</a>
    </li>
  </ul>
</div>
{% endset %}

{% set responsibilitiesHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/claim-back-statutory-sick-pay-paid-to-employees-due-to-coronavirus-covid-19">Claim back Statutory Sick Pay (SSP)</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.acas.org.uk/coronavirus/time-off-work-to-look-after-someone">Find out what to do if your employee needs time off to look after dependants</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/check-which-expenses-are-taxable-if-your-employee-works-from-home-due-to-coronavirus-covid-19">Which expenses are taxable if your employees work from home</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-apprenticeship-programme-response">Apprenticeships: how they can continue</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-advice-for-tier-2-4-and-5-sponsors">Guidance for Tier 2, 4 and 5 visa sponsors of people affected by coronavirus</a>
    </li>
  </ul>
</div>
{% endset %}

{% set safelyHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://govuk-business-reopening.herokuapp.com/">Reopen your business safely during coronavirus (COVID-19)</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/workingsafely">Find out how to make your workplace COVID-secure</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.hse.gov.uk/risk/assessment.htm">How to carry out a COVID-19 risk assessment</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/covid-19-decontamination-in-non-healthcare-settings">Cleaning your workplace safely</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/maintaining-records-of-staff-customers-and-visitors-to-support-nhs-test-and-trace">Keep records of staff, customers and visitors to support NHS Test and Trace</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/nhs-test-and-trace-workplace-guidance">NHS Test and Trace service for employers, businesses and workers</a>
    </li>
  </ul>
</div>
{% endset %}

{% set closelyHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/further-businesses-and-premises-to-close/further-businesses-and-premises-to-close-guidance">Businesses that must close</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/covid-19-advice-for-accommodation-providers">Closing holiday accommodation to temporary residents</a>
    </li>
  </ul>
</div>
{% endset %}

{{ govukAccordion({
  id: "business-support-guidance",
  items: [
    {
      heading: {
        text: "Funding and support"
      },
      content: {
        html: supportHTML
      }
    },
    {
      heading: {
        text: "Self-employed people and sole traders"
      },
      content: {
        html: peopleHTML
      }
    },
    {
      heading: {
        text: "Your responsibilities as an employer"
      },
      content: {
        html: responsibilitiesHTML
      }
    },
    {
      heading: {
        text: "How to run your business safely"
      },
      content: {
        html: safelyHTML
      }
    },
    {
      heading: {
        text: "What businesses should be closed"
      },
      content: {
        html: closelyHTML
      }
    }
  ]
}) }}