<header class="covid__page-header covid__page-header--business">
  <div class="govuk-width-container">
    <div class="app-c-breadcrumbs govuk-breadcrumbs app-c-breadcrumbs--collapse-on-mobile app-c-breadcrumbs--inverse">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item" aria-current="false">
          <a class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
        </li>
      </ol>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="app-c-title app-c-title--inverse govuk-!-margin-top-4 govuk-!-margin-bottom-0">
          <span class="govuk-caption-xl app-c-title__context">
            Part of <a href="/coronavirus" class="govuk-link covid__page-header-link">Coronavirus (COVID-19)</a>
          </span>
          <h1 class="app-c-title__text ">
            Business support
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="covid__page-header-light covid__page-header-light--hub">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="app-c-heading govuk-heading-s app-c-heading--inverse govuk-!-margin-bottom-3">Coronavirus (COVID-19) support is available to businesses</h2>
          <ul class="covid__list covid__list--header">
            <li class="covid__list-item">Loans, tax relief and cash grants are available</li>
            <li class="covid__list-item">Employers can apply for staff to get up to 80% pay if they can’t work</li>
            <li class="covid__list-item">Self-employed people can receive up to £2,500 per month in grants for at least 3 months</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="covid__page-guidance">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="app-c-heading govuk-heading-s   govuk-!-margin-bottom-5">What you can do now</h2>
          <ul class="covid__list govuk-!-margin-bottom-8 govuk-!-padding-left-0">
            <li class="covid__list-item">
              <div class="govuk-pub-action-link govuk-pub-action-link--dark-icon govuk-!-margin-bottom-0">
                <span class="govuk-pub-action-link__link-wrapper">
                  <a class="govuk-link govuk-pub-action-link__link" href="https://govuk-business-reopening.herokuapp.com/">
                    Reopen your business safely during coronavirus (COVID-19)
                  </a>
                </span>
              </div>
            </li>
            <li class="covid__list-item">
              <div class="govuk-pub-action-link govuk-pub-action-link--dark-icon govuk-!-margin-bottom-0">
                <span class="govuk-pub-action-link__link-wrapper">
                  <a class="govuk-link govuk-pub-action-link__link" href="https://govuk-business-support.herokuapp.com/">
                    Find out what financial support schemes you may be eligible for
                  </a>
                </span>
              </div>
            </li>
            <li class="covid__list-item">
              <div class="govuk-pub-action-link govuk-pub-action-link--dark-icon govuk-!-margin-bottom-0">
                <span class="govuk-pub-action-link__link-wrapper">
                  <a class="govuk-link govuk-pub-action-link__link" href="https://www.gov.uk/guidance/claim-a-grant-through-the-coronavirus-covid-19-self-employment-income-support-scheme">
                    Find out how to apply for a grant if you’re self-employed
                  </a>
                </span>
              </div>
            </li>
          </ul>
          {{ appSignupLink({
            herading: {
              text: "Stay up to date with GOV.UK"
            },
            text: "Sign up to get emails when we add new coronavirus business support information",
            href: "https://www.gov.uk/email-signup?topic=/coronavirus-taxon/businesses-and-self-employed-people"
          }) }}
        </div>
      </div>
    </div>
  </div>
</header>