
{% extends "layout-landing-page.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{% endblock %}

{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {% include "./partials/landing-page/_nhs-notice.html" %}
      {% include "./partials/landing-page/_find-support-notice.html" %}
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h2 class="app-c-heading app-c-heading--font-size-27 govuk-!-margin-bottom-3">Guidance and support</h2>
      {% include "./partials/landing-page/_accordion.html" %}
      <p class="govuk-body">
        See specific guidance for <a class="govuk-link" href="/guidance/coronavirus-covid-19-information-for-individuals-and-businesses-in-scotland">Scotland</a>, <a class="govuk-link" href="https://gov.wales/coronavirus">Wales</a> and <a class="govuk-link" href="https://www.nidirect.gov.uk/campaigns/coronavirus-covid-19">Northern Ireland</a>
      </p>
      {% include "./partials/landing-page/_announcements.html" %}
      {% include "./partials/landing-page/_press-conference.html" %}
      {% include "./partials/landing-page/_additional-information.html" %}
      {% include "./partials/landing-page/_stay-up-to-date.html" %}
    </div>
  </div>

{% endblock %}
