
{% extends "layout-landing-page.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {% include "./partials/landing-page/_nhs-notice.html" %}
      {% include "./partials/landing-page/_find-support-notice.html" %}
    </div>

    <div class="govuk-grid-column-two-thirds">
      {% include "./partials/landing-page/_timeline.html" %}
      <h2 class="app-c-heading app-c-heading--font-size-27 app-c-heading--padding app-c-heading--border-top-2 govuk-!-margin-bottom-3">Guidance and support</h2>
      {% include "./partials/landing-page/_accordion.html" %}
      <p class="govuk-body">
        See <a href="https://www.gov.uk/search/all?level_one_taxon=5b7b9532-a775-4bd2-a3aa-6ce380184b6c&amp;content_purpose_supergroup%5B%5D=guidance_and_regulation&amp;order=most-viewed">all coronavirus guidance on GOV.UK</a>
      </p>
      <p class="govuk-body">
        See specific guidance for <a class="govuk-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-information-for-individuals-and-businesses-in-scotland">Scotland</a>, <a class="govuk-link" href="https://gov.wales/coronavirus">Wales</a> and <a class="govuk-link" href="https://www.nidirect.gov.uk/campaigns/coronavirus-covid-19">Northern Ireland</a>
      </p>
      {% include "./partials/landing-page/_video.html" %}
      {% include "./partials/landing-page/_announcements.html" %}
      {% include "./partials/landing-page/_statistics.html" %}
      {% include "./partials/landing-page/_additional-information.html" %}
      {% include "./partials/landing-page/_stay-up-to-date.html" %}
    </div>
  </div>

{% endblock %}
