{% set alertLevelsHtml %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      {{ govukPubActionLink({
        heading: {
          text: "Postcode checker: look up an area’s Local COVID Alert Level",
          href: "https://govuk-coronavirus-lockdown.herokuapp.com/"
        },
        classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-1"
      }) }}
      <p class="govuk-body covid__list-item-description">
        Use the postcode checker to find out the Local COVID Alert Level for an area.
      </p>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Popular content</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/local-covid-alert-levels-what-you-need-to-know?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Local COVID Alert Levels: what you need to know</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="/guidance/full-list-of-local-covid-alert-levels-by-area?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Full list of Local COVID Alert Levels by area</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/local-covid-alert-level-medium?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Local COVID Alert Level: Medium: what you need to know</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/local-covid-alert-level-high?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Local COVID Alert Level: High: what you need to know</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/local-covid-alert-level-very-high?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Local COVID Alert Level: Very High: what you need to know</a>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Social distancing and shielding</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="/government/publications/coronavirus-covid-19-meeting-with-others-safely-social-distancing/coronavirus-covid-19-meeting-with-others-safely-social-distancing?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Social distancing rules</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Shielding: protecting yourself if you're clinically extremely vulnerable</a>
    </li>
  </ul>
</div>
{% endset %}

{% set testingCoronavirusHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      {{ govukPubActionLink({
        heading: {
          text: "Find out about coronavirus testing",
          href: "https://www.gov.uk/getting-tested-for-coronavirus?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae"
        },
        classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-1"
      }) }}
      <p class="govuk-body covid__list-item-description">
        How to get tested for coronavirus (COVID-19).
      </p>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Popular content</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/get-coronavirus-test?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Get a test to check if you have coronavirus</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://test-for-coronavirus.service.gov.uk/register/validate-code?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Book a test if you have a verification code</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-home-test-kits-for-schools-and-fe-providers/coronavirus-covid-19-home-test-kits-for-schools-and-fe-providers?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Schools and further education providers: ordering home test kits</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/covid-19-stay-at-home-guidance?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Self-isolating: stay at home if you think you have coronavirus</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/nhs-test-and-trace-how-it-works?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">NHS test and trace: how it works</a>
    </li>
  </ul>
</div>
{% endset %}

{% set workFinancialSupportHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      {{ govukPubActionLink({
        heading: {
          text: "Getting financial help and staying safe at work",
          href: "https://www.gov.uk/coronavirus/worker-support"
        },
        classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-1"
      }) }}
      <p class="govuk-body covid__list-item-description">
        Get coronavirus (COVID-19) support if you’re working less or not working - and find out how to stay safe at work.
      </p>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Popular content</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/redundancy-your-rights?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Redundancy: your rights</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/find-local-council?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Find your local council to check if you can get a self-isolation payment from them</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/check-how-to-return-to-work-safely?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">How to return to work safely if you cannot work from home</a>
    </li>
  </ul>
</div>
{% endset %}

{% set businessSelfEmployedHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      {{ govukPubActionLink({
        heading: {
          text: "Getting financial help and keeping your business safe",
          href: "https://www.gov.uk/coronavirus/business-support"
        },
        classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-1"
      }) }}
      <p class="govuk-body covid__list-item-description">
        Get coronavirus (COVID-19) support for your business or if you’re self-employed, and find out how to keep your business and your employees safe
      </p>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Popular content</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/working-safely-during-coronavirus-covid-19?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">How to make your workplace COVID-secure</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/business-coronavirus-support-finder?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Financial support for businesses and self-employed people</a>
    </li>
  </ul>
</div>
{% endset %}

{% set educationChildcareHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      {{ govukPubActionLink({
        heading: {
          text: "Guidance for teachers, school leaders, carers, parents and students",
          href: "https://www.gov.uk/coronavirus/education-and-childcare"
        },
        classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-1"
      }) }}
      <p class="govuk-body covid__list-item-description">
        Coronavirus (COVID-19) information for parents, schools, colleges and universities: closures, exams, learning, health and wellbeing.
      </p>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Popular content</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/safe-working-in-education-childcare-and-childrens-social-care?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Safe working in education, childcare and children’s social care</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/face-coverings-in-education?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Wearing face coverings in schools and other educational settings</a>
    </li>
  </ul>
</div>
{% endset %}

{% set travelTransportHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      {{ govukPubActionLink({
        heading: {
          text: "Foreign travel advice",
          href: "https://www.gov.uk/guidance/travel-advice-novel-coronavirus?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae"
        },
        classes: "govuk-pub-action-link--simple govuk-!-margin-bottom-1"
      }) }}
      <p class="govuk-body covid__list-item-description">
        Guidance for British people travelling overseas during the coronavirus (COVID-19) pandemic.
      </p>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Popular content</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/foreign-travel-advice?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Foreign travel advice for each country</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/uk-border-control?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Entering or returning to the UK</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-safer-travel-guidance-for-passengers?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Safer travel guidance if you're walking, cycling or a passenger</a>
    </li>
  </ul>
</div>
{% endset %}

{{ govukAccordion({
  id: "landing-page-guidance",
  items: [
    {
      heading: {
        text: "Local COVID Alert Levels"
      },
      content: {
        html: alertLevelsHtml
      }
    },
    {
      heading: {
        text: "Self-isolating and testing for coronavirus"
      },
      content: {
        html: testingCoronavirusHTML
      }
    },
    {
      heading: {
        text: "Work and financial support"
      },
      content: {
        html: workFinancialSupportHTML
      }
    },
    {
      heading: {
        text: "Businesses and self-employed people"
      },
      content: {
        html: businessSelfEmployedHTML
      }
    },
    {
      heading: {
        text: "Schools, education and childcare"
      },
      content: {
        html: educationChildcareHTML
      }
    },
    {
      heading: {
        text: "Travel and transport"
      },
      content: {
        html: travelTransportHTML
      }
    }
  ]
}) }}
