{% set protectYourselfHtml %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/covid-19-stay-at-home-guidance">Self-isolating: stay at home if you think you have coronavirus</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-outbreak-faqs-what-you-can-and-cant-do/coronavirus-outbreak-faqs-what-you-can-and-cant-do-after-4-july">Stay alert: what you can and cannot do</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/staying-safe-outside-your-home/staying-safe-outside-your-home">Staying safe outside your home</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/face-coverings-when-to-wear-one-and-how-to-make-your-own">Face coverings: when to wear one and how to make your own</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19">Shielding: protecting yourself if you're clinically extremely vulnerable</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/collections/coronavirus-covid-19-social-care-guidance#guidance-for-unpaid-carers">Unpaid carers: supporting friends and family</a>
    </li>
  </ul>
</div>
{% endset %}

{% set testingCoronavirusHTML %}
<div class="covid__accordion-inner">
  <h3 class="govuk-heading-s covid__accordion-heading">Get tested</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/get-coronavirus-test">Get a test to check if you have coronavirus</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/apply-coronavirus-test-care-home">Get coronavirus tests for a care home</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://test-for-coronavirus.service.gov.uk/register/validate-code">Book a test if you have a verification code</a>
    </li>
    </ul>
    <h3 class="govuk-heading-s covid__accordion-heading">Guidance on testing</h3>
    <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/nhs-test-and-trace-how-it-works">NHS test and trace: how it works</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/nhs-test-and-trace-workplace-guidance">NHS test and trace: workplace guidance</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-getting-tested">Guidance on testing for essential workers and care homes</a>
    </li>
  </ul>
</div>
{% endset %}

{% set localRestrictionsHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/collections/local-restrictions-areas-with-an-outbreak-of-coronavirus-covid-19">Areas with local restrictions</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/governments-approach-to-managing-local-coronavirus-outbreaks">Government approach to managing local outbreaks</a>
    </li>
  </ul>
</div>
{% endset %}

{% set workFinancialSupportHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <div class="govuk-pub-action-link govuk-pub-action-link--simple govuk-!-margin-bottom-1">
        <span class="govuk-pub-action-link__link-wrapper">
          <a class="govuk-link govuk-pub-action-link__link" href="/coronavirus/worker-support">
            Getting financial help and staying safe at work
          </a>
        </span>
      </div>
      <p class="govuk-body covid__list-item-description">
        Get coronavirus (COVID-19) support if you’re working less or not working - and find out how to stay safe at work.
      </p>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Popular content</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/redundancy-your-rights">Redundancy: your rights</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-what-to-do-if-youre-employed-and-cannot-work#if-someone-you-live-with-has-symptoms-of-coronavirus">Get financial support if you’re off sick</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://govuk-employee-returning.herokuapp.com/">Check if you should go back to work</a>
    </li>
  </ul>
</div>
{% endset %}

{% set workingSafelyHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://govuk-business-reopening.herokuapp.com/">Reopen your business safely during coronavirus (COVID-19)</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/workingsafely">Make your workplace COVID-secure</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://govuk-employee-returning.herokuapp.com/">Check if you should go back into work</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/safe-working-in-education-childcare-and-childrens-social-care">Safe working in education, childcare and children’s social care</a>
    </li>
  </ul>
</div>
{% endset %}

{% set businessSelfEmployedHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <div class="govuk-pub-action-link govuk-pub-action-link--simple govuk-!-margin-bottom-1">
        <span class="govuk-pub-action-link__link-wrapper">
          <a class="govuk-link govuk-pub-action-link__link" href="/coronavirus/business-support">
            Getting financial help and keeping your business safe
          </a>
        </span>
      </div>
      <p class="govuk-body covid__list-item-description">
        Get coronavirus (COVID-19) support for your business or if you’re self-employed, and find out how to keep your business and your employees safe
      </p>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Popular content</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://govuk-business-reopening.herokuapp.com/">Reopen your business safely</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://govuk-business-support.herokuapp.com/">Find out about financial support</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/claim-a-grant-through-the-coronavirus-covid-19-self-employment-income-support-scheme">Apply for a grant if you’re self-employed</a>
    </li>
  </ul>
</div>
{% endset %}

{% set educationChildcareHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <div class="govuk-pub-action-link govuk-pub-action-link--simple govuk-!-margin-bottom-1">
        <span class="govuk-pub-action-link__link-wrapper">
          <a class="govuk-link govuk-pub-action-link__link" href="/coronavirus/education-and-childcare">
            Guidance for teachers, school leaders, carers, parents and students
          </a>
        </span>
      </div>
      <p class="govuk-body covid__list-item-description">
        Coronavirus (COVID-19) information for parents, schools, colleges and universities: closures, exams, learning, health and wellbeing.
      </p>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Popular content</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-implementing-protective-measures-in-education-and-childcare-settings/coronavirus-covid-19-implementing-protective-measures-in-education-and-childcare-settings">Keep children and staff safe when schools reopen</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/guidance-for-parents-and-carers-of-children-attending-out-of-school-settings-during-the-coronavirus-covid-19-outbreak/guidance-for-parents-and-carers-of-children-attending-out-of-school-settings-during-the-coronavirus-covid-19-outbreak">Check how holiday clubs, childminders and after-school clubs can operate</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-early-years-and-childcare-closures">Running an early years setting during coronavirus</a>
    </li>
  </ul>
</div>
{% endset %}

{% set travelImmigrationHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/travel-advice-novel-coronavirus">Guidance for British citizens travelling abroad</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-travel-corridors">Travel to the UK: countries with a quarantine exemption</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-countries-and-territories-exempt-from-advice-against-all-but-essential-international-travel">Countries exempt from advice against non-essential international travel</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/uk-border-control">What you need to do if you’re travelling to the UK</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/foreign-travel-advice">Foreign travel advice for each country</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-safer-air-travel-guidance-for-passengers">Safer air travel guidance for passengers</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-staying-where-you-are-if-you-cannot-return-to-the-uk">Get support if you’re waiting to return to the UK</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-advice-for-uk-visa-applicants-and-temporary-uk-residents">Guidance for visa applicants in the UK and abroad</a>
    </li>
  </ul>
</div>
{% endset %}

{% set drivingTransportHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-safer-travel-guidance-for-passengers">Safer travel guidance for passengers</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-covid-19-safer-transport-guidance-for-operators">Safer transport guidance for operators</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/applications-for-renewing-lorry-and-bus-driving-licences-at-age-45-and-over-during-the-coronavirus-covid-19-pandemic">Renewals of lorry and bus driving licences for people over 45</a>
    </li>
    </ul>
    <h3 class="govuk-heading-s covid__accordion-heading">Driving and theory tests</h3>
    <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-theory-tests">Find out when theory tests are restarting</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-driving-tests-and-theory-tests">Find out when driving tests are restarting</a>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Until 1 August 2020</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-mots-for-cars-vans-and-motorcycles-due-from-30-march-2020">Car, motorcycle and van MOTs extended by 6 months</a>
    </li>
  </ul>
</div>
{% endset %}

{% set healthcareHTML %}
<div class="covid__accordion-inner">
  <h3 class="govuk-heading-s covid__accordion-heading">Testing</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/apply-coronavirus-test-essential-workers">Essential workers: book your test</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/apply-coronavirus-test-care-home">Care home workers: book your test</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/wuhan-novel-coronavirus-guidance-for-clinical-diagnostic-laboratories">How to take a swab test and where to send samples</a>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Guidance for managers</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/collections/coronavirus-covid-19-social-care-guidance">Adult social care</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.england.nhs.uk/coronavirus/">NHS guidance for managers working in healthcare</a>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Managing patients with coronavirus (COVID-19)</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19">How to protect extremely vulnerable people (shielding)</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/collections/coronavirus-covid-19-personal-protective-equipment-ppe">Using PPE (personal protective equipment)</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/collections/wuhan-novel-coronavirus">COVID-19: guidance for health professionals</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/guidance-for-those-involved-in-managing-covid-19-deaths/guidance-for-those-involved-in-managing-covid-19-deaths">Managing coronavirus (COVID-19) deaths</a>
    </li>
  </ul>
  <h3 class="govuk-heading-s covid__accordion-heading">Support for healthcare workers and volunteers</h3>
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/covid-19-health-care-and-volunteer-workers-parking-pass-and-concessions">Parking passes</a>
    </li>
  </ul>
</div>
{% endset %}

{% set healthWellbeingHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.nhs.uk/health-at-home/">Contact a GP and order repeat prescriptions online</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.rcog.org.uk/en/guidelines-research-services/guidelines/coronavirus-pregnancy/covid-19-virus-infection-and-pregnancy/">Guidance on pregnancy and coronavirus</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/covid-19-guidance-for-the-public-on-mental-health-and-wellbeing">Mental health and wellbeing</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/coronavirus-covid-19-accessing-food-and-essential-supplies">How to get food and other essential items</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help">Support for victims of domestic violence</a>
    </li>
  </ul>
</div>
{% endset %}

{% set housingAccommodationHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/covid-19-and-renting-guidance-for-landlords-tenants-and-local-authorities">Renting: guidance for tenants, landlords and local authorities</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/government-advice-on-home-moving-during-the-coronavirus-covid-19-outbreak">Moving homes: guidance for tenants, businesses and social landlords</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/stamp-duty-land-tax-temporary-reduced-rates">Stamp Duty Land Tax: rates reduced</a>
    </li>
  </ul>
</div>
{% endset %}

{% set volunteeringHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/volunteering/coronavirus-volunteering">How to volunteer</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.nhs.uk/conditions/coronavirus-covid-19/research/coronavirus-vaccine-research/">Join a vaccine research study</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.genomicsengland.co.uk/covid-19/">Join a genetic study if you tested positive for coronavirus</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.nhsbt.nhs.uk/covid-19-research/donating-convalescent-plasma-around-the-uk/">Donate blood plasma if you have tested positive for coronavirus</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/coronavirus-how-to-help-safely--2">How to help others safely</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/collections/coronavirus-covid-19-social-care-guidance#guidance-for-unpaid-carers">Guidance for unpaid carers</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/guidance/help-the-government-increase-coronavirus-covid-19-testing-capacity">Help to increase coronavirus testing capacity</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://sharechecklist.gov.uk/">Help tackle false information spreading online</a>
    </li>
  </ul>
</div>
{% endset %}

{% set someoneDiesHTML %}
<div class="covid__accordion-inner">
  <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/when-someone-dies">What to do when someone dies: step-by-step</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/after-a-death/arrange-the-funeral">Attending or arranging a funeral</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/bereavement-support-payment">Check if you can get Bereavement Support Payment</a>
    </li>
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/funeral-payments">Check if you can get help with funeral costs</a>
    </li>
    </ul>
    <h3 class="govuk-heading-s covid__accordion-heading">Guidance for professionals</h3>
    <ul class="covid__list covid__list--accordion">
    <li class="covid__list-item">
      <a class="govuk-link covid__accordion-link" href="https://www.gov.uk/government/publications/guidance-for-those-involved-in-managing-covid-19-deaths/guidance-for-those-involved-in-managing-covid-19-deaths">Guidance for professionals working with the deceased</a>
    </li>
  </ul>
</div>
{% endset %}

{{ govukAccordion({
  id: "",
  items: [
    {
      heading: {
        text: "Protect yourself and others from coronavirus"
      },
      content: {
        html: protectYourselfHtml
      }
    },
    {
      heading: {
        text: "Testing for coronavirus"
      },
      content: {
        html: testingCoronavirusHTML
      }
    },
    {
      heading: {
        text: "Local restrictions"
      },
      content: {
        html: localRestrictionsHTML
      }
    },
    {
      heading: {
        text: "Work and financial support"
      },
      content: {
        html: workFinancialSupportHTML
      }
    },
    {
      heading: {
        text: "Working safely"
      },
      content: {
        html: workingSafelyHTML
      }
    },
    {
      heading: {
        text: "Business and self-employed people"
      },
      content: {
        html: businessSelfEmployedHTML
      }
    },
    {
      heading: {
        text: "School openings, education and childcare"
      },
      content: {
        html: educationChildcareHTML
      }
    },
    {
      heading: {
        text: "International travel and immigration"
      },
      content: {
        html: travelImmigrationHTML
      }
    },
    {
      heading: {
        text: "Driving and transport in the UK"
      },
      content: {
        html: drivingTransportHTML
      }
    },
    {
      heading: {
        text: "Healthcare workers, carers and care settings"
      },
      content: {
        html: healthcareHTML
      }
    },
    {
      heading: {
        text: "Health and wellbeing"
      },
      content: {
        html: healthWellbeingHTML
      }
    },
    {
      heading: {
        text: "Housing and accommodation"
      },
      content: {
        html: housingAccommodationHTML
      }
    },
    {
      heading: {
        text: "Volunteering and offering help"
      },
      content: {
        html: volunteeringHTML
      }
    },
    {
      heading: {
        text: "When someone dies"
      },
      content: {
        html: someoneDiesHTML
      }
    }
  ]
}) }}