<section class="covid__topic-wrapper">
  <h2 class="app-c-heading app-c-heading--font-size-27 app-c-heading--padding app-c-heading--border-top-2 govuk-!-margin-bottom-6">Announcements</h2>
  <ul class="govuk-list">
    <li class="covid__topic-list-item">
        <a href="/government/news/coronavirus-covid-19-what-has-changed-9-september" class="govuk-link covid__topic-list-link">
          Prime Minister announces new coronavirus (COVID-19) safety rules
        </a>
        <p class="govuk-body covid__announcement-published-text">
          Published 9 September 2020
        </p>
    </li>
    <li class="covid__topic-list-item">
        <a href="/government/publications/face-coverings-in-education" class="govuk-link covid__topic-list-link">
          Wearing face coverings in schools in England
        </a>
        <p class="govuk-body covid__announcement-published-text">
          Published 26 August 2020
        </p>
    </li>
    <li class="covid__topic-list-item">
        <a href="/government/news/million-of-self-employed-to-benefit-from-second-stage-of-support-scheme" class="govuk-link covid__topic-list-link">
          Millions of self employed to benefit from second stage of support scheme
        </a>
        <p class="govuk-body covid__announcement-published-text">
          Published 17 August 2020
        </p>
    </li>
  </ul>
  <p class="govuk-body">
    <a href="/search/all?level_one_taxon=5b7b9532-a775-4bd2-a3aa-6ce380184b6c&amp;content_purpose_supergroup%5B%5D=news_and_communications&amp;order=updated-newest" class="govuk-link">
      See all announcements
    </a>
  </p>  
</section>