<section class="covid__topic-wrapper">
  <h2 class="app-c-heading app-c-heading--font-size-27 app-c-heading--padding app-c-heading--border-top-2 govuk-!-margin-bottom-6">Announcements</h2>
  <ul class="govuk-list">
    <li class="covid__topic-list-item">
      <a href="/guidance/north-west-of-england-local-restrictions-what-you-can-and-cannot-do" class="govuk-link covid__topic-list-link">
        North West of England: local restrictions – what you can and cannot do
      </a>
      <p class="govuk-body covid__announcement-published-text">
        Published 31 July 2020
      </p>
    </li>
    <li class="covid__topic-list-item">
      <a href="/government/news/statement-from-the-uk-chief-medical-officers-on-extension-of-self-isolation-period-30-july-2020" class="govuk-link covid__topic-list-link">
        Self-isolating period changes from 7 to 10 days
      </a>
      <p class="govuk-body covid__announcement-published-text">
        Published 30 July 2020
      </p>
    </li>
    <li class="covid__topic-list-item">
      <a href="/government/speeches/face-coverings-to-be-mandatory-in-shops-and-supermarkets-from-24-july" class="govuk-link covid__topic-list-link">
        Face coverings to be mandatory in shops and supermarkets from 24 July
      </a>
      <p class="govuk-body covid__announcement-published-text">
        Published 14 July 2020
      </p>
    </li>
  </ul>
  <p class="govuk-body">
    <a href="/search/all?level_one_taxon=5b7b9532-a775-4bd2-a3aa-6ce380184b6c&amp;content_purpose_supergroup%5B%5D=news_and_communications&amp;order=updated-newest" class="govuk-link">
      See all announcements
    </a>
  </p>
</section>