<section class="covid__topic-wrapper">
  <h2 class="app-c-heading app-c-heading--font-size-27 app-c-heading--padding app-c-heading--border-top-2 govuk-!-margin-bottom-6">Announcements</h2>
  <ul class="govuk-list">
    <li class="covid__topic-list-item">
      <a href="https://www.gov.uk/government/news/local-covid-alert-level-update-for-lancashire" class="govuk-link covid__topic-list-link">
        Lancashire moves to Local COVID Alert Level: Very high on 17 October
      </a>
      <p class="govuk-body covid__announcement-published-text">
        Published 16 October 2020
      </p>
    </li>
    <li class="covid__topic-list-item">
      <a href="https://www.gov.uk/government/speeches/coronavirus-update-on-areas-in-local-covid-alert-levels" class="govuk-link covid__topic-list-link">
        Barrow-in-Furness, Chesterfield, Elmbridge, Erewash, Essex, London boroughs, North East Derbyshire and York to move into 'High' Local COVID Alert Level
      </a>
      <p class="govuk-body covid__announcement-published-text">
        Published 15 October 2020
      </p>
    </li>
    <li class="covid__topic-list-item">
      <a href="https://www.gov.uk/government/news/prime-minister-announces-new-local-covid-alert-levels" class="govuk-link covid__topic-list-link">
        Prime Minister announces new Local COVID Alert Levels
      </a>
      <p class="govuk-body covid__announcement-published-text">
        Published 12 October 2020
      </p>
    </li>
  </ul>
  <p class="govuk-body">
    <a href="https://www.gov.uk/search/all?level_one_taxon=5b7b9532-a775-4bd2-a3aa-6ce380184b6c&amp;content_purpose_supergroup%5B%5D=news_and_communications&amp;order=updated-newest" class="govuk-link">
      See all announcements
    </a>
  </p>
</section>
