<section class="covid__find-help">
  <h2 class="app-c-heading govuk-heading-m app-c-heading--inverse   govuk-!-margin-bottom-4">Find out what support you can get</h2>
  <p class="govuk-body covid__inverse">For example, if you’re out of work, need to get food, or want to take care of your mental health.</p>
  <div class="govuk-pub-action-link govuk-pub-action-link--light-text govuk-pub-action-link--dark-icon govuk-!-margin-bottom-0">
    <span class="govuk-pub-action-link__link-wrapper">
      <a class="govuk-link govuk-pub-action-link__link" href="/find-coronavirus-support">
        Find support
      </a>
    </span>
  </div>
</section>