<section class="covid__topic-wrapper">
  <h2 class="app-c-heading app-c-heading--font-size-27 app-c-heading--padding app-c-heading--border-top-2   govuk-!-margin-bottom-6">Press conferences and speeches</h2>


  <div class="covid__video-wrapper">
  
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    
    <div class="covid__video-placeholder">
      <div class="covid__video-logo">Video</div>
      <p class="govuk-body">
        <a href="/help/cookies" class="govuk-link covid__page-header-link covid__bold">
          Change your cookie settings
        </a>
      </p>
      <p class="govuk-body covid__bold">
        to watch the video
      </p>
      <p class="govuk-body">
        or
      </p>
      <a href="https://www.youtube.com/watch?v=wV8lRh5VcvQ" class="govuk-body govuk-link covid__page-header-link" data-youtube-player-analytics="true" data-youtube-player-analytics-category="EmbeddedYoutube">
        Watch on YouTube
      </a>
    </div>

</div>
</div>

<p class="govuk-body">
  Broadcast  31 July 2020 
</p>

  <ul class="govuk-list covid__spaced-list">
    <li class="covid__topic-list-item">
      <a href="/government/collections/slides-and-datasets-to-accompany-coronavirus-press-conferences#transcripts" class="covid__topic-list-link govuk-link">
        Read all press conference statements
      </a>
    </li>
    <li class="covid__topic-list-item">
      <a href="https://www.youtube.com/user/Number10gov/videos" class="covid__topic-list-link govuk-link">
        Watch all press conferences on YouTube
      </a>
    </li>
  </ul>
</section>