<div class="covid-timeline" data-module="track-timeline-links">
  <h2 class="app-c-heading app-c-heading--font-size-27 app-c-heading--padding govuk-!-margin-bottom-4">Recent and upcoming changes</h2>
  <div class="covid-timeline__item">
    <h3 class="covid-timeline__item-heading govuk-heading-s">18 October</h3>
    <div class="app-c-govspeak govuk-govspeak" data-module="govspeak">
      <p><a href="https://www.gov.uk/government/news/italy-removed-from-travel-corridor-list-and-crete-added-to-list-for-england">People arriving in England from Italy after 4am will need to self-isolate</a></p>
    </div>
  </div>
  <div class="covid-timeline__item">
    <h3 class="covid-timeline__item-heading govuk-heading-s">17 October</h3>
    <div class="app-c-govspeak govuk-govspeak" data-module="govspeak">
      <p><a href="https://www.gov.uk/guidance/local-covid-alert-level-high">Local COVID Alert Level: High</a> applies to Barrow-in-Furness, Chesterfield, Elmbridge, Erewash, Essex, London boroughs, North East Derbyshire and York</p>
    </div>
  </div>
  <div class="covid-timeline__item">
    <h3 class="covid-timeline__item-heading govuk-heading-s">17 October</h3>
    <div class="app-c-govspeak govuk-govspeak" data-module="govspeak">
      <p><a href="https://www.gov.uk/guidance/local-covid-alert-level-very-high?priority-taxon=774cee22-d896-44c1-a611-e3109cce8eae">Local COVID Alert Level: Very High</a> applies to Lancashire</p>
    </div>
  </div>
  <div class="covid-timeline__item">
    <h3 class="covid-timeline__item-heading govuk-heading-s">14 October</h3>
    <div class="app-c-govspeak govuk-govspeak" data-module="govspeak">
      <p><a href="https://www.gov.uk/guidance/local-covid-alert-levels-what-you-need-to-know">Local COVID Alert Levels</a> apply in your area</p>
    </div>
  </div>
</div>
