// .govuk-header {
//   border-bottom: 0 !important;
// }

.govuk-header__logo {
  margin-bottom: 0 !important;
  padding-bottom: govuk-spacing(2) !important;
}

.govuk-header__container--no-border-bottom {
  margin-bottom: 0 !important;
  border-bottom: 0 !important;
}

.govuk-main-wrapper--auto-spacing:first-child {
  padding-top: 0;
}


.govuk-footer {
  border-top: govuk-spacing(2) solid govuk-colour('blue');
}

.js-enabled {
  .govuk-tabs__panel,
  .app-c-tabs__panel--no-border {
    padding-right: 0;
    padding-left: 0;
    border: 0;
  }
}

.govuk-\!-border-bottom-none {
  border-bottom: 0 !important;
}
